<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 10-23-2020
  @last modified by  : kavya.konagonda@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                       Modification
  1.0   10-20-2020   kavya.konagonda@mtxb2b.com   Initial Version
-->
<template>
    <lightning-card title="Navigation Service in Lightning Web Components">
        <lightning-card title="Navigate To Account Record Example">
            <lightning-button label="New Account" onclick={navigateToNewAccount}></lightning-button><br>
            <lightning-button label="View Account" onclick={navigateToViewAccount}></lightning-button><br>
            <lightning-button label="Edit Account" onclick={navigateToEditAccount}></lightning-button><br>
        </lightning-card>

        <lightning-card title="Navigate To Views">
            <lightning-button label="Account Recent list View" onclick={navigateToAccountListView}></lightning-button><br>
            <lightning-button label="Account Related List" onclick={navigateToContactRelatedList}></lightning-button><br>
        </lightning-card>
        
        <lightning-card title="Navigate To Home">
            <lightning-button label="Navigate to Home" onclick={navigateToHomePage}></lightning-button><br>
            <lightning-button label="Navigate to Contact Home" onclick={navigateToContactHome}></lightning-button><br>
            <lightning-button label="Navigate to Opportunity Home" onclick={navigateToOpportunityHome}></lightning-button><br>
            <lightning-button label="Navigate to Case Home" onclick={navigateToCaseHome}></lightning-button><br>
        </lightning-card>
    </lightning-card>
</template>